*{
    padding: 0;
    margin: 0;
    

}
body{
    background-color: #1a1a1a; /*muda a cor do fundo*/
}

li a{
    text-decoration: none; /*remove o sublinhadin*/
font-size: 20px; /*tamanho da fonte*/
color: #ffffff;
padding: 20px;
}

li{
    list-style: none; /*remove formatação da lista, tipo as bolinhas*/
}

#logo{

    height: 100px; /*altura*/
    width: 180px; /*largura*/
}
 ul{
    display: flex; /*indica a propriedadi*/
    flex-direction: row; /*coloca os elementos na horizontal ou vertical*/
    
 }

.menu{ /* classe para o menu de navegação*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.caixa-img-logo{
height: 90px; /*altura*/
width: 140px; /*largura*/
}

.bi{

font-size: 35px;
color: #4c544c;

}

.banner{
    background-image: url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 900px;
    border-radius: 20px;
}