*{
    padding: 0;
    margin: 0;
    background-color: #1a1a1a; /*muda a cor do fundo/*

}


li a{
    text-decoration: none; /*remove o sublinhadin*/
font-size: 20px; /*tamanho da fonte*/
color: #ffffff;
}

li{
    list-style: none; /*remove formatação da lista, tipo as bolinhas*/
}

#logo{

    height: 100px; /*altura*/
    width: 180px; /*largura*/
}
 ul{
    display: flex; /*indica a propriedadi*/
    flex-direction: row; /*coloca os elementos na horizontal ou vertical*/
    
 }